ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  li {
    display: inline-block;
    width: 46%;
    margin: 5px;

    button {
      width: 100%;
      padding: 10px 20px;
      margin-right: 10px;
      cursor: pointer;
      background: #544C4A;
      border:none;
      color: white;
    }
  }
}
